
body{
	
}
#top {
	background: #343539;
	height: 60px;
}
.header-one{
	margin: 0 auto;
	width: 1026px;
}

.top-left
{
	color: #F2CB30;
	float: left;
	text-align: center;
	vertical-align: center;
	line-height: 30px;
	text-transform: uppercase;

}
.top-right{
	float: right;
	text-align: center;
vertical-align: middle;
line-height: 60px;  


}
.text-right{
	color: #ABABAB;
}
.text-right1{
	color: #FEFEFF;
}

#slider{
	
 
  width:100%;
  height:400px; 
 
 
}

.text {
  z-index: 100;
  position: absolute;
  color: #000;
  font-size: 34px;
font-style: italic;
  left: 50px;
  top: 100px;
}

.text-lower{
	 position: absolute;
  color: #000;
  font-size: 14px;
font-style: italic;
  left: 50px;
  top: 300px;
  text-decoration: overline underline ;

}
}