
body{
	
}
#top {
	background: #343539;
	height: 60px;
}
.header-one{
	margin: 0 auto;
	width: 1026px;
}

.top-left
{
	color: #F2CB30;
	float: left;
	text-align: center;
	vertical-align: center;
	line-height: 30px;
	text-transform: uppercase;

}
.top-right{
	float: right;
	text-align: center;
vertical-align: middle;
line-height: 60px;  


}
.text-right{
	color: #ABABAB;
}
.text-right1{
	color: #FEFEFF;
}

#slider{
	
 
  width:100%;
  height:400px; 
 
 
}

.text {
  z-index: 100;
  position: absolute;
  color: #000;
  font-size: 34px;
font-style: italic;
  left: 50px;
  top: 100px;
}

.text-lower{
	 position: absolute;
  color: #000;
  font-size: 14px;
font-style: italic;
  left: 50px;
  top: 300px;
  text-decoration: overline underline ;

}

#spacing-my-divs{
	background: #F3F2ED;
	height: 30px;
}

#content{
	height: 200px;
}

.content-a{
	margin-left: 10%
  
}
.content-b{
	width: 1026px;
	text-align:justify;
	margin-left: 130px;
	font:Arial, Helvetica, sans-serif;
	color:#A7A7A7;

  
}

button{

z-index: 100;
  position: absolute;
  
  left: 125px;
  
	 border: 1px solid #a1a1a1;
    padding: 10px 40px; 
    background: #000;
    color: #FFF;
   
    border-radius: 65px;
    text-align: center;
    text-align: justify;

}

#three-items{
width: 1026px;
margin-left: 130px;
}

.item-one{

}
.item-one-a{

}
.item-one-b{
	margin-left: 460px;

}

.item-one-c{
	float: right;

}

#three-items-text{
width: 1026px;
margin-left: 130px;
}

.item-one-text{

}
.item-one-a-text{
width: 20px;
}
.item-one-b-text{
	margin-left: 400px;

}

.item-one-c-text{
	margin-left: 358px;

}